#cookiebarBox .container {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
 background-color: #50a3d5 !important;
height: 100vh;
width: 100vw;
}
.cookieok {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  line-height: 2.5em;
  height: 2.5em;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-width: 0 !important;
  cursor: pointer;
  max-width: 100px;
  margin: 0 auto;
}
#cookiebarBox {
  display:none;
  position: fixed;
  bottom: 0;
  left: 5px;
  right: 5px;
  z-index: 200;
  top: 14vh;
}
#cookiebarBox .container a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
   margin-top:1%;
}
.cookieok {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e8f0f3;
  color: #186782 !important;
  font-weight: 600;
  line-height: 2.5em;
  height: 2.5em;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-width: 0 !important;
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
}
.padding-popup{
  padding-top:1%;
}
.popup-holder{
      margin-top: 5%;
  box-sizing: content-box;
  min-width: 120px;
  max-height: 813px;
  max-width: 1456px;
  border-style: solid;
  border-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
  border-width: 0px;
    border-bottom-width: 0px;
  padding: 7px;
  width: 512px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(204, 204, 204) 0px 0px 0px 14px;
  overflow: auto;
  border-radius: 6px;
  padding-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 14px !important;
  border-bottom-width: 35px !important;
  border-bottom-color: #fff !important;
}







