/* Style for the interactive image layout */
.interactive-image-layout {
  display: flex;
}
/* Style for the left and right columns */
.column.left, .column.right {
	 width: 25%;
	 padding: 20px;
  	 text-align: center;
}
/* Style for the middle column */
.column.middle {
  width: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style for the image */
.column.middle img {
  max-width: 100%;
  height: auto;
}
/* above not needed for demo */
.image-title {
	padding: 5px;
	color:black;
	text-shadow:1px 1px 1px #000;
	font-size: 15px;
	position:relative;
	overflow:hidden;
	text-align:center;
	font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
	background: #F7F7F7;
	padding: 0px 12px;
	display: inline-block;
	position: relative;
	top: -11px;
	width: auto;
}
.image-body-txt {
		color:black;
  		padding: 30px 30px 10px 30px !important;
        text-align: left;
	    margin-top: -12px;
		min-height: 210px;
		font-family: 'Rajdhani',Helvetica,Arial,Lucida,sans-serif;
}
.service-item{
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
	cursor: pointer;
}
.active .image-title{
	color:#e21f26;
}
.active {
	border: 2px solid #e21f26;
}
.active .image-body-txt{
	color: #e21f26;
}















@media screen and (max-width:980px){
	
	
	
	
	.image-title{
		width:70%;
	}
	.image-body-txt {
		padding: 10px 30px 10px 30px !important;
	}
	.column.left, .column.right {
	  padding: 10px;
	}
	.image-body-txt {
	  min-height: 80px;
	}
	.interactive-image-layout {
	  display: block;
	}
	.column.left, .column.right,
	.column.middle {
	  width: 100%;
	}
}
@media screen and (max-width:768px){
	
	
	
	
}