<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="MM_CONNECTION_HANDLER_connFestNews" value="default_oledb.htm" />
    <add key="MM_CONNECTION_STRING_connFestNews" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=h:\root\home\rdavis-001\www\db\fesnews.mdb" />
    <add key="MM_CONNECTION_DATABASETYPE_connFestNews" value="OleDb" />
    <add key="MM_CONNECTION_SCHEMA_connFestNews" value="" />
    <add key="MM_CONNECTION_CATALOG_connFestNews" value="" />
    <add key="MM_CONNECTION_HANDLER_connCalendar" value="default_oledb.htm" />
    <add key="MM_CONNECTION_STRING_connCalendar" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=h:\root\home\rdavis-001\www\db\MeckMedCalendar.mdb;Persist Security Info=False" />
    <add key="MM_CONNECTION_DATABASETYPE_connCalendar" value="OleDb" />
    <add key="MM_CONNECTION_SCHEMA_connCalendar" value="" />
    <add key="MM_CONNECTION_CATALOG_connCalendar" value="" />
    <add key="MM_CONNECTION_HANDLER_connANPA" value="default_oledb.htm" />
    <add key="MM_CONNECTION_STRING_connANPA" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=h:\root\home\rdavis-001\www\db\ANPA.mdb;Persist Security Info=False" />
    <add key="MM_CONNECTION_DATABASETYPE_connANPA" value="OleDb" />
    <add key="MM_CONNECTION_SCHEMA_connANPA" value="" />
    <add key="MM_CONNECTION_CATALOG_connANPA" value="" />
    <add key="MM_CONNECTION_HANDLER_connNCTA" value="default_oledb.htm" />
    <add key="MM_CONNECTION_STRING_connNCTA" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=h:\root\home\rdavis-001\www\db\ncta.mdb;Persist Security Info=False" />
    <add key="MM_CONNECTION_DATABASETYPE_connNCTA" value="OleDb" />
    <add key="MM_CONNECTION_SCHEMA_connNCTA" value="" />
    <add key="MM_CONNECTION_CATALOG_connNCTA" value="" />
    <add key="WebXelUploadLiteRegEmail" value="" />
    <add key="WebXelUploadLiteRegKey" value="" />
    <add key="WebXelAuthenticationRegEmail" value="" />
    <add key="WebXelAuthenticationRegKey" value="" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="WordPress: http://domain.com1" patternSyntax="Wildcard">
          <match url="*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Disable caching -->
    <caching enabled="false" />
    
    <!-- Set headers to prevent client-side caching -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
    
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
