/* Base styles for loyalty-container */
.loyalty-container {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  transition: box-shadow 0.3s ease; /* Add a smooth box-shadow transition */
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute columns evenly */
}

/* Apply hover effect to loyalty-container */
.loyalty-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
  color: #333; /* Change the text color on hover */
}

/* Flex row for loyalty items */
.loyalty-row {
  display: flex;
  width: 100%;
}

/* Styling for loyalty-column */
.loyalty-column {
   width: 31.3%;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: all 0.5s;

	
	
  /* Pseudo-elements for 3D hover effect */
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }

  /* Apply 3D hover effect to pseudo-elements */
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
    border-color: rgba(0, 0, 0, 0.1);
  }
  /* Enlarge the image on hover */
  img {
    transition: transform 0.5s; /* Add a transform transition */
  }
  &:hover img {
    transform: scale(1.2); /* Enlarge the image on hover */
  }
}






.loyalty-column img {
    max-width: 100%; /* Ensure images fit within columns */
}

.loyalty-column h3 {
     font-size: 24px; /* Adjust the font size */
  color: #333; /* Set your desired text color */
  margin-bottom: 10px; /* Add spacing to the bottom */
  font-weight: bold; /* Make the text bold */
}
.sale-image{
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: 999999;
}
.qualify{
	color:green;
	font-weight:800;
}
.do-not-qualify{
	color:red;
	font-weight: bold; /* Make the text bold */
  margin-left: 5px; /* Add spacing to the left of the text */
}
/* Styles for .original-price */
.original-price {
  text-decoration: line-through; /* Add a strikethrough effect */
  color: #999; /* Change the text color */
  font-size: 16px; /* Adjust the font size */
}

/* Styles for .discounted-price */
.discounted-price {
  color: #e74c3c; /* Set a different text color for emphasis */
  font-size: 20px; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
}

.total-spent {
  background-color: #f5f5f5; /* Background color */
  border: 1px solid #ddd; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding */
  font-size: 18px; /* Font size */
  color: #333; /* Text color */
  text-align: center; /* Text alignment */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}
.amount-spent {
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  color: #e74c3c; /* Set a unique text color */
  text-decoration: underline; /* Add an underline */
}
 .sale-image {
    transition: transform 0.3s, opacity 0.3s;
    animation: pulse 2s infinite alternate;
  }

  .loyalty-column:hover .sale-image {
    transform: scale(1.1);
    opacity: 0.8;
    animation: none; /* Disable the pulse animation on hover */
  }

.loyalty-message-container {
  background-color: #f3f3f3; /* Background color for the container */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners for the container */
  margin: 0 auto; /* Center align the container */
	text-align: left;
	margin-bottom:20px;
}
.loyalty-intro {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: normal;
  color: #333; /* Choose your preferred text color */
  margin-bottom: 10px; /* Add margin between text paragraphs */
}
/* Define styles for the alert container */
.container-alert {
    background-color: #f8d7da; /* Background color for error alerts */
    border: 1px solid #dc3545; /* Border color for error alerts */
    color: #721c24; /* Text color for error alerts */
    padding: 10px; /* Padding inside the alert container */
    border-radius: 5px; /* Rounded corners for a nice look */
    margin: 10px 0; /* Add spacing between alerts if needed */
}
.loyalty-underline{
	  text-decoration: underline;
}
.logged-out{
	pointer-events: none;
}
.you-can-save{
	font-size: 22px;
}











@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
      opacity: 0.8;
    }
}
/* Media queries for responsiveness */
@media (max-width: 980px) {
	/* Flex row for loyalty items */
	.loyalty-row {
		display: block;
	}
    .loyalty-column {
        width:47%;
		float:left;
    }
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
	
	
    .loyalty-column {
        width:100%;
    }
}